body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.project,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links a {
  display: block;
  padding: 2rem;
  color: black;
  font-size: 1.5rem;
  position: relative;
  text-decoration: none;
}

.links a::after {
  content: "";
  position: absolute;
  bottom: 01rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: crimson;
  transition: all 300ms ease-in-out;
}

.links a:hover::after {
  width: 50%;
  left: 25%;
}

.links a::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 90%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  width: 10rem;
}

.links a:hover::before {
  visibility: visible;
  opacity: 1;
}

.links a:nth-of-type(1)::before {
  content: "HTML 5 e CSS3";
}

.links a:nth-of-type(2)::before {
  content: "JavaScript + Node (com Express + MongoDB)";
}

.links a:nth-of-type(3)::before {
  content: "JavaScript, Node, Express e SQL (MariaDB)";
}
.links a:nth-of-type(4)::before {
  content: "React";
}

.disabled {
  color: #ccc !important;
  cursor: default;
}

.disabled::after {
  background: #fff !important;
}
