<% if(errorsAgenda.length > 0) { %>
<div class="row">
  <div class="col my-3">
    <div class="alert alert-danger">
      <% errorsAgenda.forEach(erro => { %> <%= erro %> <br />
      <% }); %>
    </div>
  </div>
</div>

<% } %> <% if(successAgenda.length > 0) { %>
<div class="row">
  <div class="col my-3">
    <div class="alert alert-success">
      <% successAgenda.forEach(successAgenda => { %> <%= successAgenda %> <br />
      <% }); %>
    </div>
  </div>
</div>
<% } %>
